body{
	background-color: gray;
	color:purple;
	}
					
ul	{
	list-style-type: circle;
	font-style: bold;
	color: green;
	}
				
ul ul 	{
	list-style-type: square;
	font-style: bold;
	color: navy;
	}
				
ul ul p	{
	font-weight: bold;
	font-style: italic;
	color: orange;
	}