
    .general {
        height: 2250px;
        width: 100%;
        display: flex;
        overflow: hidden;
    }
    
    .izquierda {
        height: 20%;
        width: 25%; 
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        overflow: hidden;
        margin-top: 100px;
    }
    
    .centro {
        height: 2250px;
        width: 75%;
        flex-direction: column;
        overflow: hidden;
    }
    
    #barra {
        height:4%;
        width:87%;
        position: relative;
        text-align: left;
        overflow: hidden;
    }

    .ejercicios{
    font-family: Cambria, Georgia, serif;
	font-size: 10px; 
	margin-left: 13px;
	color: black;
	text-decoration: none;
	}

    #palabra {
        position: absolute;
        top: 1%;
        left: 0%;
        overflow: hidden;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: white;
        font-weight: bold;
        font-size: 80%;
        text-align: left;
    }
    
    #cabecera {
        height: 4%;
        width: 90%;
        overflow: hidden;
		text-align: left;
    }
    
    #cura {
        height: 45%;
        width: 99%;
        font-size: 15px;
        overflow: hidden;
		align-items: center;

    }
    
    #familia {
        height: 45%;
        width: 99%;
        overflow: hidden; 
		align-items: center;
    }
    
    #barra2{
        height: 1%;
        width:99%;
        overflow: hidden;
    }
    
    #pie {
        height: 3%;
        width: 99%;
        overflow: hidden;
		text-align: center;
    }

    p {
        color: #181BD7;
        font-size: 80%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        justify-content: center;
    }

    h2 {
        color: #189ED7;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
    }

    ul li{
        font-size: 10px;
        margin-left: 13px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: blue;
    }


 @media screen and (max-width : 768px) {
    img {
        height: auto;   
        max-width: 20%;
    }

    .general {
        height: auto;
        width: 40%;
        display: flex;
        overflow: hidden;
        flex-direction: column;
    }
    
    .izquierda {
        height: 20%; 
        width: 40%;
        display: flex;
        flex-direction: column;
        align-content: flex-end;
        overflow: hidden;
        margin-top: 100px;
    }
    
    .centro {
		display: flex;
        height: 2250px;
        width: 90%;
        flex-direction: column;
        overflow: hidden;
    }
    
    #barra {
        height:40%;
        width:70%;
        position: relative;
        text-align: left;
        overflow: hidden; 
    }

    #palabra {
        position: absolute;
        top: 1%;
        left: 0%;
        overflow: hidden;
    }
    
    #cabecera {
        height: 4%;
        width: 90%;
        overflow: hidden;   
    }
    
    #cura {
        height: auto;
        width: 40%;
        font-size: 15px;
        overflow: hidden;
        justify-content: center;
    }
    
    #familia {
        height: 38%;
        width: 99%;
        overflow: hidden; 
    }
    
    #barra2{
        height: 1%;
        width:99%;
        overflow: hidden;
    }
    
    #pie {
		align-items: center;
        height: 3%;
        width: 99%;
        overflow: hidden;
		text-align: center;
    }
}


@media screen and (max-width : 320px) {
}

